.wrapper {
  padding: 20px 0;
}

.name {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 5px;
}

.info {
  margin-bottom: 15px;
}

.list__item:last-child {
  margin-bottom: 10px;
}

@media screen and (max-width: 767px) {
  .links {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-around;
  }
  .wrapper {
    width: 50%;
  }
  .links {
    padding: 20px;
    width: 200px;
    display: flex;
    justify-content: space-between;
  }
}
