.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  justify-content: center;
}

.list__item {
  display: flex;
  flex-direction: column;
  width: 180px;
}

.img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card {
  height: 100%;
}

@media screen and (max-width: 767px) {
  .list__item {
    width: 100%;
  }
  .img {
    background-size: contain !important;
  }
}
