.wrapper {
  padding: 20px 0;
}

.name {
  margin-bottom: 10px;
}

.title {
  margin-bottom: 5px;
}

.info {
  margin-bottom: 15px;
}

.list__item:last-child {
  margin-bottom: 10px;
}

.img {
  width: 300px;
  height: 450px;
  object-fit: cover;
}

.links {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px 30px;
}

.rating {
  display: flex;
  align-items: center;
  width: 280px;
  justify-content: space-between;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .name {
    text-align: center;
  }
  .rating {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .section {
    display: flex;
    justify-content: space-around;
  }
  .wrapper {
    width: 50%;
  }
  .links {
    width: 300px;
  }
}
