.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  box-shadow: 0 0 20px darkgrey;
  z-index: 100;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  color: black;
  transition: transform 0.4s ease;
}
.logo:hover {
  transform: scale(1.05);
}
.logo__img {
  width: 50px;
  height: 50px;
}
.nav__wrapper {
  min-width: 200px;
  display: flex;
  justify-content: space-between;
}
.link {
  font-size: 16px;
  color: black;
  transition: all 0.4s ease;
}
.link:hover {
  color: grey;
  transform: scale(1.05);
}
