.form {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input {
  font-size: 1.6rem;
  width: 400px;
  height: 30px;
}

@media screen and (max-width: 767px) {
  .input {
    width: 100%;
  }
}
