.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 10px 20px;
  box-shadow: 0 0 20px darkgrey;
  z-index: 100;
}
